// Import Vuetify styling
@import 'fonts.scss';
@import 'button.scss';
@import 'chat.scss';
@import 'home.scss';

body,
html { /* setting default font */
  font-family: 'Exo2';
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 0;
  position: relative;
}

.u-mlm {
  margin-left: 10px;
}

.u-mll {
  margin-left: 15px;
}

.u-mrm {
  margin-right: 10px;
}

.u-mtl {
  margin-top: 15px;
}

.u-center {
  text-align: center;
}

.well {
  background-color: $grey;
  border-radius: 5px;
  padding: 5px;
}

/* scrollbar customization */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

