
@font-face {
  font-family: "Exo-Bold";
  src: url("~assets/fonts/Exo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  src: url("~assets/fonts/Exo2-Regular.ttf") format("truetype");
}
