/* Were imported by kiki at some point... */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");
@import url("https://fonts.googleapis.com/css?family=Wallpoet&display=swap");

@font-face {
  font-family: "Exo-Bold";
  src: url("~assets/fonts/Exo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  src: url("~assets/fonts/Exo2-Regular.ttf") format("truetype");
}

