@import './fonts.scss';

.flexbox{
  display: flex;
  flex-direction: row;
}

.flexboxcolumn{
  display: flex;
  flex-direction: column;
}

.hovercompletegamecard {
  height: 32em;
  width: 47em;
  position: relative;
  display: flex;
  flex-direction: row;
  background-size: cover;
}

.hoverblackrectangle {
  background-color: #101318;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 32.125em;
  width: 47em;
  opacity: 0.85;
}

.hovertopcontainer{
  height: 10em;
  width: 47em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hoverflexlogocontainer{
  flex-basis: 10%;
  align-self: center;
}

.hovertopinfocontainer {
  display: flex;
  flex-direction: column;
  width: 39.56em;
  justify-content: center;
}

.hovertopinfofirstrow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family:"Exo-Black";
  font-size: 24px;
  color: #FFFFFF;
}

.hoverflexlolchampions {
  color: #F8B700;
  font-family:"Exo-Black";
  font-size: 14px;
}

.hoverbottomcontainer {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  height: 17.5em;
}

.hoverleftcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20.25em;
  padding-right: 1em;
}

.hover2x2row{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  justify-content: space-between;
}

.hover2x2row.needsspace{
  padding-right: 2em;
}

.hover2x2minipanel {
  display: flex;
  flex-direction: column;
  width: 8.4em;
  align-self: flex-start;
}

.hoverflexfirstrow{
  font-family:"Exo-Black";
  color: #F8B700;
  font-size: 16px;
  letter-spacing: 0.12px;
}

.hoverflexsecondrow{
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  font-family:"Exo-Black";
  color: #ECFEFF;
  font-size: 14px;
  align-items: center;
}
.hoverfortrow b{
  font-family:"Exo2";
}

.hoverfortrow{
  font-family:"Exo-Black";
  color: #ECFEFF;
  font-size: 14px;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  }

.hoverflexthirdandfourthrow{
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  font-family: "Exo2";
  font-size: 14px;
  color: #FFFFFF;
}

.hover2x2minipicturepanel {
  height: 6.625em;
  width: 5.8125em;
  background-color: #2CAFA5;
  align-self: center;
}

.hovermiddlecontainer {
  display: flex;
  flex-direction: column;
  font-family:"Exo-Black";
  font-size: 16px;
  width: 13em;
  justify-content: flex-start;
  align-items: center;
}

.hoverlol2x1panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2em;
  width: 8.5em;
}

.hoverlol2x1headline{
  align-self: center;
  color: #F7B500;
}

.hoverlol2x1statcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hoverlol2x1statpic{
  height: 2.1875em;
  width: 2.1875em;
  background-color: #2CAFA5;
}

.hoverbadgecontainer{
  display: flex;
  flex-direction: column;
  width: 11.5em;
  justify-content: space-around;
  font-family: "Exo2";
  letter-spacing: 0.25px;
  align-items: center;
}

.hoverbadge{
  display: flex;
  flex-direction: column;
  width: 8.43em;
  background-color: #000000;
  text-align: center;
}

.hoverbadgeheadline{
  color: #52B1B1;
  font-size: 14px;
  font-weight: bold;
}

.hoverbadgebottomline{
  color: #ECFEFF;
  font-size: 11px;
}

.hoverbadgebutton{
  height: 1.8em;
  width: 8.44em;
  border: 1px solid #2CAFA5;
  border-radius: 5px;
  background-color: #2CAFA5;
}

.hoverbadgebuttontext{
  color: #ECFEFF;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.hoverguildname{
  color: #FFFFFF;
   font-family: "Exo2-Light";
   font-size: 16px;
   letter-spacing: 0.5px;
}

.hoverwowLVLILVL{
  color: #F8B700;
  font-family:"Exo-Black";
  font-size: 14px;
}

.hoverwowleftbottom{
  height: 8.2em;
}

.hoverwowleftbottomtext{
  font-family:"Exo-Black";
  color: #F8B700;
  font-size: 14px;
}

.hoverwowleftbottompic{
  height: 5.9375em;
  width: 6 em;
  background-color: #F8B700;
}

.hoverwowmiddleheadline{
  font-size: 14px;
  font-family:"Exo-Black";
  color: #F8B700;
}

.hoverwowmiddlepic{
  height: 6.5em;
  width: 11.44em;
  background-color: #F8B700;
}

.hoverwowlefttop{
  display: flex;
  flex-direction: row;
  height: 8em;
  justify-content: space-around;
  align-items: center;
  }

.hoverwowlefttank{
  font-family:"Exo-Black";
  font-size: 14px;
  color: #ECFEFF;
}

.hoverwowlefttoppic{
  height: 2.1875em;
  width:  2.1875em;
  background-color: #2CAFA5;
}

.hoverwowlefttoppiccontainer{
  display: flex;
  flex-direction: row;
  width: 8.44em;
  justify-content: space-between;
  }

.hoverwowseemore{
  font-family: "Exo2-Light";
  font-size: 10px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.hoverfortExtrainfo{
  display: flex;
  font-size: 14px;
  font-family:"Exo-Black";
  color: #F8B700;
}

.hoverfortpadd{
  padding-right: 2em;
}

.hoverfortmiddleheadline{
  color: #F8B700;
  font-family:"Exo-Black";
  font-size: 14px;
}

.hoverfortmiddlepic1{
  height: 9.6875em;
  width:  9.6875em;
  background-color: #2CAFA5;
}

.hoverfortmiddlepic2mini{
  height: 1.9375em;
  width:  1.9375em;
  background-color: #2CAFA5;
}

.hoverfortmiddlepic2minix{
  height: 1.9375em;
  width:  1.9375em;
  background-color: #F8B700;
}

.line-5 {
	box-sizing: border-box;
  height: 249px;
  width: 2px;
  border: 1px solid #979797;
}
