.dark-row {
    background-color: #2f3434;
    border-radius: 15px;
    margin: 1em;
}

.navbar-selected {
    border-style: solid !important;
    border-width: 0 0 2px !important;
    border-color: #35e4d8 !important;
}

.toast-container {
    max-width: 50vw;
}