.minicompletegamecard {
  height: 22.5em;
  width: 22.75em;
  position: relative;
  display: flex;
  flex-direction: row;
  background-size: cover;
}

.miniblackrectangle {
  background-color: #101318;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4.5em;
  width: 22.75em;
  opacity: 0.85;
}

.miniflexgamecontainer{
  height: 4.5em;
  width: 22.75em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.miniflexlogocontainer{
  flex-basis: 10%;
  align-self: center;
}

.miniflexgameinfocontainer{
  height: 4.5em;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 19em;
  display: flex;
}

.miniflexfirstrow{
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-family:"Exo-Black";
  font-size: 18px;
  color: #FFFFFF;
}

.miniflexsecondrow{
   flex-wrap: nowrap;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  font-family:"Exo-Black";
}

.miniflexdynamicsecond{
  color: #F8B700;
  font-size: 14px;
}

.miniflexdynamicsecond.clanname{
  font-size: 16px;
  color: #FFFFFF;
  align-self: flex-start;
  font-family:"Exo2-Light"
  }

.miniflexchampions{
  font-size: 16px;
  color: #FFFFFF;
  align-self: flex-start;
  font-family:"Exo2-Light"
}

.miniflexthirdandfourthrow{
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  font-family: "Exo2";
  font-size: 14px;
  color: #FFFFFF;
}

.gamelogoMini {
  width: 2.375em;
  height: 2.375em;
  margin-right: 8px;
  margin-left: auto;
  border-radius: 30%;
  /*background-image: url('~assets/images/old/league-of-legends_logo.png');*/
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.miniaddgame{ 
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #6d6d6d;
  text-align: center;
  text-decoration: none;
  }

  .miniaddgame:hover {
  background-color: #2ba79e;
}

