.navtop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.flint-dropdown {
  background-color: #2c3641;
  color: #fff;
}

.navtopmobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100vw;
}

.navbar-mobile-open-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5rem;
}

.hamburger-open {
  flex-direction: column;
}

.close-navbar-button {
  margin-left: auto;
}

.hamburgerbackground {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 0.875rem;
  font-family: Exo-Bold;
  letter-spacing: 0.078125rem;
}

.nebeneinander {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

.flintname {
  font-family: 'Quantify';
  font-size: 24px;
  text-decoration: none;
  color: #33e4d8;
  margin: 1.5rem;
}

.navbarNotifications {
  position: relative;
  margin-right: 1rem;
}

.navbarNotifications .notifications {
  position: absolute;
  top: 100%;
  right: 0;
}

.navbariconnotification {
  height: 1.5rem;
  width: 1rem;
  margin-left: 1.109375rem;
  margin-right: 1.09375rem;
  background-color: #ffffff;
  -webkit-mask: url('~assets/images/icons/ic-notifications.svg') no-repeat
    center;
  mask: url('~assets/images/icons/ic-notifications.svg') no-repeat center;
}

.navbariconmenu {
  margin-left: 1.109375rem;
  height: 1rem;
  width: 1.125rem;
  background-color: #ffffff;
  -webkit-mask: url('~assets/images/icons/ic-menu.svg') no-repeat center;
  mask: url('~assets/images/icons/ic-menu.svg') no-repeat center;
}

.searchbar {
  height: 3.125rem;
  width: 100%;
  /* border-radius: 1.5625rem; */
  /* background-color: rgba(255, 255, 255, 0.1);*/
  text-align: center;
}

.fullwidth {
  width: 100%;
  padding-right: 15px;
}

.text {
  font-family: 'Exo2';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7f8698;
  text-align: center;
  width: 100%;
}

.linehorizontal {
  width: 1px;
  height: 3rem;
  opacity: 0.1;
  border: solid 1px #a0a0a0;
  margin-right: 2.22rem;
}

.profilpic {
  border: 1px solid white;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.8125rem;
}

@media screen and (min-width: 769px) {
  .navbariconsearch {
    height: 1.5rem;
    margin-left: 0.590625rem;
    margin-right: 0.734375rem;
    width: 1.5rem;
    opacity: 0.4;
    background-color: #ffffff;
    -webkit-mask: url('~assets/images/icons/ic-search.svg') no-repeat center;
    mask: url('~assets/images/icons/ic-search.svg') no-repeat center;
    margin-left: 0.625rem;
  }

  .searchbar {
    max-width: 40vw;
    min-width: 15rem;
  }
}

@media screen and (max-width: 768px) {
  .navbariconsearch {
    height: 1.5rem;
    margin-left: 0.7rem;
    margin-right: 0.734375rem;
    width: 1.5rem;
    background-color: #ffffff;
    -webkit-mask: url('~assets/images/icons/ic-search.svg') no-repeat center;
    mask: url('~assets/images/icons/ic-search.svg') no-repeat center;
  }

  .searchbar{
    margin-left: 1rem;
  }

  .searchflex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 5rem;
    width: 100%;
  }

  .navbariconfilter {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.7rem;
  }

  .navbariconclose {
    height: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    width: 1.5rem;
    background-color: #ffffff;
    -webkit-mask: url('~assets/images/icons/ic-close.svg') no-repeat center;
    mask: url('~assets/images/icons/ic-close.svg') no-repeat center;
  }

  .flinticon {
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-image: url('~assets/images/FlintLogo_256px.png');
    background-size: contain;
  }

  .backarrow {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
    background-image: url('~assets/images/icons/ic-chevron-left.svg');
    background-size: contain;
  }

  .pagetitle {
    font-size: 1.5rem;
    font-family: Exo-Bold, sans-serif;
  }

  .navbarbottomcontainer {
    background-color: transparent;
    height: 5.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }

  .bottombutton {
    height: 3.125rem;
    width: 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bottomicon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .battle {
    width: 1.5rem;
    height: 1.375rem;
    background-color: #ffffff;
    -webkit-mask: url('~assets/images/icons/battle.svg') no-repeat center;
    mask: url('~assets/images/icons/battle.svg') no-repeat center;
  }

  .arrowleft {
    width: 1.3125rem;
    height: 1.3125rem;
    background-color: #000000;
    -webkit-mask: url('~assets/images/icons/ic-arrow-forward.svg') no-repeat
      center;
    mask: url('~assets/images/icons/ic-arrow-forward.svg') no-repeat center;
  }

  .star {
    width: 1.6875rem;
    height: 1.5625rem;
    background-color: #ffffff;
    -webkit-mask: url('~assets/images/icons/ic-star-border.svg') no-repeat
      center;
    mask: url('~assets/images/icons/ic-star-border.svg') no-repeat center;
  }

  .spaceof50 {
    height: 3.125rem;
    width: 3.125rem;
  }

  .nicebackground {
    background-color: #141f2a;
  }

  .hamburgericon {
    height: 32px;
    width: 32px;
    margin-left: 20px;
    margin-right: 40px;
    color: #fff;

    use {
      fill: #fff;
    }
  }

  .menurow {
    width: 100%;
  }

  .menuitem {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hamburgersplitline {
    box-sizing: border-box;
    width: 90%;
    height: 1px;
    opacity: 0.05;
    border: solid 1px #ffffff;
    margin: auto;
  }
}
