.page.page--profile {
  background-color: #1c2731;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 769px) {
  .page.page--profile {
    background-color: #141f2a;
    display: grid;
    grid-template-areas: 'profile pageMeta' 'profile gamecardCollection';
    grid-template-columns: 380px auto;
    grid-template-rows: auto 1fr;
  }
}

.profile {
  border-radius: 8px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 'image headline headline edit' 'language services services services' 'metadata metadata metadata follower' 'statement statement statement statement';
  grid-template-columns: 70px 1fr 1fr 80px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  padding: 10px 15px;
  height: fit-content;
}

.profile__gender {
  background: $blue-grey-light;

  &:hover {
    background: $flint-turquoise;
  }

  &__icon {
    color: white;
    height: 14px;
    width: 14px;
  }
}

@media screen and (min-width: 769px) {
  .profile {
    background-color: #172a3a;
    grid-template-areas: 'language follower follower follower' 'language image image .' 'headline headline headline headline' 'statement statement statement statement' 'interaction interaction interaction interaction' 'services services services services' 'metadata metadata metadata metadata' 'edit edit edit edit';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    width: 343px;
    padding: 20px 0;
    grid-area: profile;
  }
}

.profile__status--online {
  position: relative;
  width: 5px;
  display: inline-block;
  text-indent: -999999rem;
}

.profile__status--online:after {
  content: ' ';
  background-color: lightgreen;
  width: 8px;
  height: 8px;
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  border-radius: 50%;
}

.profile__image {
  /* background-color: lightblue; */
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__image img {
  width: 52px;
  display: inline-block;
  border-radius: 50%;
  border: solid 2px #ffffff;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .profile__image {
    position: relative;
    // top: -10px;
  }

  .profile__image img {
    width: 125px;
    border: solid 5px #ffffff;
  }

  .profile__image .profile__status--online {
    width: 26px;
    height: 26px;
    position: absolute;
    left: 145px;
  }

  .profile__image .profile__status--online:after {
    border: solid 4px #ffffff;
    width: 22px;
    height: 22px;
    bottom: -36px;
    left: -26px;
    top: auto;
  }
}

.profile__headline {
  /* background-color: olive; */
  grid-area: headline;
}

.profile__headline h1 {
  display: inline-block;
  margin: 0;
  font-family: 'Exo-Bold';
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: #ffffff;
}

.profile__headline .profile__userId {
  font-family: 'Exo2';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.profile__headline .profile__metadata {
  font-family: 'Exo-Bold';
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.47px;
  color: #ffffff;
}

@media screen and (min-width: 769px) {
  .profile__headline {
    padding-bottom: 22px;
    padding-top: 10px;
  }

  .profile__headline h1 {
    display: block;
    text-align: center;
  }
}

.profile__edit {
  /* background-color: rgba(255, 255, 255, 0.1); */
  grid-area: edit;
  justify-self: flex-end;
}

.profile__edit .profile__button {
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
}

.profile__edit .profile__button--edit {
  background-color: rgba(255, 255, 255, 0.1);
}

.profile__edit .profile__button--following {
  background-color: #ffffff;
}

.profile__edit .profile__button--notFollowing {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
}

.profile__edit .icon {
  width: 32px;
  height: 32px;
}

.profile__edit .profile__button--rivalry {
  display: none;
}

@media screen and (min-width: 769px) {
  .profile__edit {
    justify-self: center;
    padding: 20px 0 10px 0;
  }

  .profile__edit .profile__button--edit {
    width: auto;
    padding: 15px 50px;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 1.25px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 10px;
  }

  .profile__edit .profile__button--rivalry {
    background-color: #f04747;
    border-radius: 10px;
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 1.25px;
    padding: 15px 50px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
  }
}

.language {
  /* background-color: lightcoral; */
  grid-area: language;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 4px 0;
}

.language__icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  object-fit: contain;
}

@media screen and (min-width: 769px) {
  .language {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .language__icon {
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }
}

.services {
  /* background-color: cyan; */
  grid-area: services;
}

.profile__servicesList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.services h3 {
  font-family: 'Exo-Bold';
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.46px;
  color: #ffffff;
  text-transform: uppercase;
}

.services img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.services a {
  margin-right: 10px;
  margin-bottom: 7px;
}

@media screen and (min-width: 769px) {
  .services {
    padding: 0 20px;
  }

  .services img {
    height: 40px;
    width: 40px;
  }
}

.metadata {
  /* background-color: orange; */
  grid-area: metadata;
}

.metadata h3 {
  font-family: 'Exo-Bold';
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.46px;
  color: #ffffff;
  text-transform: uppercase;
}

.metadata .profile__metadata {
  align-items: flex-start;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: 'Exo-Light';
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  height: 100%;
  justify-content: center;
  line-height: 1.7;
  letter-spacing: 0.46px;
}

.profile__metadataLocation img {
  object-fit: contain;
  width: 14px;
}

@media screen and (min-width: 769px) {
  .metadata {
    padding: 0 20px;
  }

  .metadata .profile__metadata {
    height: auto;
  }
}

.follower {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  display: flex;
  font-family: 'Exo-Bold';
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  grid-area: follower;
  justify-content: center;
  line-height: normal;
  letter-spacing: 0.47px;
  padding: 10px;
  text-align: center;
}

.profile__followerIcon {
  object-fit: contain;
}

.profile__followerCount {
  line-height: 1.5;
  display: inline-block;
  margin: 0 2px 0 0;
}

@media screen and (min-width: 769px) {
  .follower {
    background-color: transparent;
    justify-content: flex-end;
    padding: 0 14px;
  }

  .profile__followerCount {
    line-height: inherit;
    margin: 0 0 0 2px;
  }
}

.statement {
  background-color: #141f2a;
  grid-area: statement;
  margin: 0 -15px;
  padding: 0 15px;
}

.profile__statementText {
  color: #ffffff;
  font-family: 'Exo-Bold';
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.47px;
  padding: 28px 0;
}

.profile__statementText:before {
  content: '" ';
}

.profile__statementText:after {
  content: ' "';
}

@media screen and (min-width: 769px) {
  .statement {
    background-color: #33e4d8;
    margin: 0;
  }

  .profile__statementText {
    color: #ffffff;
    font-family: 'Exo-Bold';
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
  }
}

.profile__interaction {
  display: none;
}

@media screen and (min-width: 769px) {
  .profile__interaction {
    display: flex;
    grid-area: interaction;
    justify-content: space-between;
  }

  .profile__interaction .profile__button {
    align-items: center;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 1.25px;
    margin: 16px;
    padding: 16px 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  .profile__interaction .profile__button.profile__button--follow {
    background-color: #ffffff;
    color: #172a3a;
  }

  .profile__interaction .profile__button.profile__button--chat {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .profile__interaction .profile__buttonText {
    padding-left: 10px;
  }
}

/* HELPER CLASSES */
._showMobileBlock {
  display: block;
}

._showMobileInlineBlock {
  display: inline-block;
}

._showDesktopInlineBlock, ._showDesktopBlock {
  display: none;
}

@media screen and (min-width: 769px) {
  ._showMobileInlineBlock, ._showMobileBlock {
    display: none;
  }

  ._showDesktopBlock {
    display: block;
  }

  ._showDesktopInlineBlock {
    display: inline-block;
  }
}

// PageMeta section
.page__meta {
  display: none;
}

.followerlist__choose {
  align-items: flex-start;
  display: flex;
  grid-area: pageMeta;
  padding-bottom: 40px;
}

.collapsible__button {
  color: #ffffff;
  display: inline-block;
  font-family: 'Exo2';
  font-size: 14px;
  margin: 0 15px;
  text-transform: uppercase;
  padding: 11px 14px;
}

.collapsible__button--active {
  background-color: white;
  border-radius: 2px;
  color: #33e4d8;
  font-family: 'Exo-Bold';
}

@media screen and (min-width: 769px) {
  .page__meta {
    align-items: flex-start;
    display: flex;
    grid-area: pageMeta;
    padding-bottom: 40px;
  }

  .meta__headline {
    color: #ffffff;
    display: inline-block;
    font-family: 'Exo-bold';
    font-size: 42px;
    line-height: 1.05;
    letter-spacing: 0.31px;
    margin: 0;
    text-transform: uppercase;
  }

  .collapsible__area {
    display: flex;
  }
}

// Gamecard section
.gamecardCollection {
  box-sizing: border-box;
  padding: 10px 18px;
  /* width: 100%; */
}

.gamecardCollection__headline {
  color: #ffffff;
  font-family: 'Exo-Bold', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.75;
  letter-spacing: 0.15px;
  padding-left: 16px;
}

.gamecardCollection__amount {
  font-family: 'Exo-Bold', Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 0.96;
  padding-right: 10px;
}

.flint-dropdown {
  background-color: #2c3641;
  color: #fff;
}

@media screen and (min-width: 769px) {
  .gamecardCollection {
    grid-area: gamecardCollection;
  }

  .gamecardCollection__headline {
    margin-top: 0;
    display: none;
  }
}
