h4 {
  font-size: 14px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

form {
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 24px;
  text-align: center;
}

.kikicontainer {
  display: flex;
  flex-direction: column;
  margin: 25px;
  font-family: 'Exo-Bold';
  -webkit-filter: blur(0);
}

.flintlogocontainer {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quantify';
  color: #33E4D8;
  font-size: 28px;
  background-color: #151E26;
  /* box-shadow: 0 9px 13px 5px rgba(5,6,7,0.31); */
  line-height: 1.5em;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0 0 13px 5px rgba(5, 6, 7, 0.31);
}

.parentdiv {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #1C2731;
}

.contentdiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
}

.signupcontainer {
  width: 32em;
  max-width: 90vw;
  background-color: #1C2731;
  border-radius: 0px 0px 8px 8px;
  padding-bottom: 25px;
}

.signupbackgroundimage {
  width: 100%;
  height: 100%;
  position: absolute;
}

.signupform {
  margin: auto;
  display: block;
  max-width: 275px;
  padding: 10px;
}

.inputcomponent {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  font-family: 'Exo-Bold';
}

.inputfield {
  border-radius: 0.3125em;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 3.125em;
  padding: 0.5em 0.75em;
  margin-bottom: 0.625em;
  font-size: 14px;
  line-height: 1.428571429em;
  vertical-align: middle;
  border: 1px solid #1f222a;
}

.inputfield:focus {
  border: 2px solid #33E4D8;
  color: #FFFFFF;
}

.passwordinput {
  height: 3.125em;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.3);
  width: 100%;
  line-height: 1.428571429em;
  vertical-align: middle;
  border: 1px solid #1f222a;
  caret-color: #33E4D8 !important;
}

.v-input.passwordinput.v-text-field.v-input--is-focused {
  border: 2px solid #33E4D8;
  caret-color: #FFFF !important;
  color: #FFFF !important;
}

.v-input.passwordinput.v-text-field {
  color: rgba(0, 0, 0, 0.3) !important;
  caret-color: #33E4D8 !important;
}

.v-icon.v-icon--link {
  color: #FFFF !important;
}

.v-input.passwordinput.v-text-field.v-input--has-state.error--text {
  border: 2px solid #F04747;
  caret-color: #F04747 !important;
}

.error--text {
  color: #dd2c00 !important;
  caret-color: #dd2c00 !important;
}

.flint-link {
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  /* width: 18.4375em; */
}

.flint-link:focus {
  color: #35e4d8;
}

.flint-link:hover {
  color: #35e4d8;
}

.flint-button {
  padding: 9px 15px;
  max-height: 2.8em;
  color: #ecfeff;
  background-color: #33E4D8;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  width: 15em;
  margin: auto;
}

.discordbutton-grundbutton.discordbutton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin-right: 15px;
  margin-left: 15px;
  padding-left: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #7289da;
  background-image: url('~assets/images/old/Discord_Logo.png');
  background-position: 5px 59%;
  background-size: 30px;
  background-repeat: no-repeat;
  width: 15em;
}

.w-button {
  padding: 9px 15px;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  width: 18.4375em;
}

.flint-login-error {
  color: #F04747;
  font-family: 'Exo-Bold';
}

/* this make the background blurry on mobile */
@media (max-width: 768px) {
  .signupbackgroundimage {
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

.image-credit-wrapper .imageCredit {
  position: absolute;
  right: 0px;
  bottom: 4px;
}

.imageCredit {
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding: 5px 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  z-index: 1;
}

@media (max-width: 768px) {
  .imageCredit {
    display:none;
  }
}

figcaption {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.creditLink {
  text-decoration: none;
  color: #33E4D8;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
}
