
  $flint-turquoise: #2bafa6;
  $flint-turquoise-darker: #2bafa6;
  $flint-turquoise-lighter: #33E4D8;
  $blue-medium: #2e9adf;
  $blue-light: #74defb;
  $blue-grey: #333D46;
  $blue-grey-dark: #1C344D;
  $blue-grey-darker: rgba(0, 0, 0, 0.3);
  $blue-grey-light: rgba(255, 255, 255, 0.1);
  $grey: #3b4141;
  $grey-lighter: #545a5a;
  $flint-white: #ecfeff;

  $online: green;
  $offline: red;

  $primary: '';
  $primaryLight: '';
  $primaryDark: '';
  $secondary: '';
  $secondaryLight: '';
  $secondaryDark: '';
  $neutralDarker: '';
  $neutrayDark: '';
  $neutral: #3b4141;
  $neutralLight: '';
  $neutralLighter: '';
  $neutralLightest: #ffffff;
